<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文档生成器</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/vue/1.0.22/vue.min.js"></script>
</head>
<body>

<div class="container" id="app">
    <h3>文档生成器</h3>
    <form class="row">
        <div class="form-group col-md-12">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="title" v-model="title" required>
        </div>
        <div class="form-group col-md-12">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="description" v-model="description" required>
        </div>
        <div class="col-md-3">
            <label>Method</label>
            <select class="form-control" v-model="method">
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
            </select>
        </div>
        <div class="form-group col-md-9">
            <label>URL</label>
            <input type="text" class="form-control" placeholder="url" v-model="url" value="/api/v1" required>
        </div>

        <div class="col-md-12">
            <label>Request data</label>
            <textarea class="form-control" rows="3" v-model="request"></textarea>
        </div>

        <div class="col-md-12">
            <label>Response data</label>
            <textarea class="form-control" rows="5" v-model="response"></textarea>
        </div>

        <div class="col-md-12">
            <label>Response error data</label>
            <textarea class="form-control" rows="3" v-model="error"></textarea>
        </div>
        <div class="col-md-12" style="padding-top: 5px">
            <button type="button" v-on:click="generate" class="btn btn-success">generate</button>
            <button type="button" v-on:click="init" class="btn btn-danger">reset</button>
            <a href="http://www.bejson.com/" class="btn btn-info" target="_blank">JSON tool</a>
        </div>

        <div class="col-md-12" style="padding-bottom: 20px">
            <label>Result</label>
            <textarea class="form-control" rows="3" v-model="result" id="result"></textarea>
        </div>
    </form>
</div>

<script>
var vm = new Vue({
    el: "#app",
    data: {
        title: "",
        url: "/api/v1",
        description: "",
        method: "GET",
        request: "",
        response: "",
        error: "",
        result: ""
    },
    methods: {
        init: function() {
            vm.title = "";
            vm.url = "/api/v1";
            vm.description = "";
            vm.method = "GET";
            vm.request = "";
            vm.response = "";
            vm.error = "";
            vm.result = "";
        },
        generate: function() {
            if (!(vm.title && vm.url)) {
                alert("error");
                return;
            }
            vm.result = "";
            vm.result += "## " + vm.title + "\n\n";

            if (vm.description) {
                vm.result += vm.description + "\n\n";
            }

            vm.result += "`" + vm.method + "`  `/api/v1" + vm.url + "`\n";
            if (vm.request) {
                vm.result += "\n请求数据\n\n```js\n" + vm.request + "\n```\n";
            }

            if (vm.response) {
                vm.result += "\n响应\n\n```js\n" + vm.response + "\n```\n";
            }

            if (vm.error) {
                vm.result += "\n错误响应\n\n```js\n" + vm.error + "\n```";
            }
            document.getElementById("result").focus();
        }
    }
});

(function($) {

    // jQuery plugin definition
    $.fn.TextAreaExpander = function(minHeight, maxHeight) {

        var hCheck = !($.browser.msie || $.browser.opera);

        // resize a textarea
        function ResizeTextarea(e) {

            // event or initialize element?
            e = e.target || e;

            // find content length and box width
            var vlen = e.value.length, ewidth = e.offsetWidth;
            if (vlen != e.valLength || ewidth != e.boxWidth) {

                if (hCheck && (vlen < e.valLength || ewidth != e.boxWidth)) e.style.height = "0px";
                var h = Math.max(e.expandMin, Math.min(e.scrollHeight, e.expandMax));

                e.style.overflow = (e.scrollHeight > h ? "auto" : "hidden");
                e.style.height = h + "px";

                e.valLength = vlen;
                e.boxWidth = ewidth;
            }

            return true;
        };

        // initialize
        this.each(function() {

            // is a textarea?
            if (this.nodeName.toLowerCase() != "textarea") return;

            // set height restrictions
            var p = this.className.match(/expand(\d+)\-*(\d+)*/i);
            this.expandMin = minHeight || (p ? parseInt('0'+p[1], 10) : 0);
            this.expandMax = maxHeight || (p ? parseInt('0'+p[2], 10) : 99999);

            // initial resize
            ResizeTextarea(this);

            // zero vertical padding and add events
            if (!this.Initialized) {
                this.Initialized = true;
                $(this).css("padding-top", 0).css("padding-bottom", 0);
                $(this).bind("keyup", ResizeTextarea).bind("focus", ResizeTextarea);
            }
        });

        return this;
    };

})(jQuery);


// initialize all expanding textareas
jQuery(document).ready(function() {
    jQuery("textarea").TextAreaExpander(minHeight=120);
});
</script>
</body>
</html>
